{% extends 'admin_theme/dashboard.html' %}
{% block content %}
    <div class="row">
    <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
            <div class="card-header" data-background-color="orange">
                <i class="material-icons">person_outline</i>
            </div>
            <div class="card-content">
                <p class="category">Patients Attending</p>
                <a href="{% url 'patient_list' %}"><h3 class="title">{{ patients_count }}</h3></a>
                {#                                    <small>GB</small>#}
            </div>

        </div>
    </div>

{% endblock %}
