{% extends 'admin_theme/dashboard.html' %}
{% block content %}
    <div class="panel panel-info">
        <div class="panel-heading">
            <h4>Prescription List for {{ name }}</h4>
        </div>
        <div class="panel-body">
            <table border="2" class="table table-responsive">
                <tr>
                    <center>
                        <th>Sno</th>
                        <th>Date</th>
                        <th>Prescription Link</th>
                    </center>

                </tr>
                {% for prescription in prescriptions %}
                    <tr>
                        <td>
                            <center>{{ forloop.counter }}</center>
                        </td>
                        <td>{{ prescription.created_at }}</td>
                        <td><a href="{% url 'prescription_view' prescription.id %}">View <span class="fa fa-eye"></span> </a>
                        </td>
                    </tr>
                {% empty %}
                    <h3> No Prescription!</h3>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}