{% extends 'admin_theme/dashboard.html' %}
{% block content %}
    <div class="row">
        <div class="container-fluid">
            <div class="panle panel-info">

                <div class="panel-body">
                    <table class="table table-responsive table-striped table-bordered">
                        <tr>
                            <th>Sl.no</th>
                            <th>Composition</th>
                            <th>Quantity</th>
                            <th>Time</th>
                            <th>No Of Days</th>
                        </tr>
                        {% for item in prescription.items.all %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{ item.composition }}</td>
                                <td>{{ item.quantity }}</td>
                                <td>{{ item.get_slot_display }}</td>
                                <td>{{ item.no_of_days }}</td>

                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}