<div class="col-md-3 order-overview" ng-controller="orderItemsCtrl as vm">
    <div class="order-line-items">
        <h4>Items</h4>
        <div ng-repeat="item in vm.order.products ">
            <div class="row">
                <div class="col-md-8">
                    {{ item.name }} <br>
                    Qty. <span ng-show="!item.editing" ng-click="item.editing=!item.editing;item.cQty=item.qty">{{ item.qty }}</span> <input style="width: 30px" ng-model="item.cQty" ng-blur="vm.changeQty(item.id,item.cQty,item.qty)" ng-show="item.editing" type="text"> x ₹ {{ item.selling_price }}
                </div>
                <div class="col-md-4 text-right">
                    ₹ {{ vm.getItemTotal(item) }}  <span ng-click="vm.minus(item.id)" class="fa fa-minus-circle" style="color:red;"> </span>
                </div>
            <div class="col-md-12">
                <hr>
            </div>
            </div>


        </div>


        <div class="order-total">
            <h4>Total: ₹ {{ vm.getOrderTotal() }}</h4>
        </div>


    </div>

    <div class="customer_actions" ng-controller="billing_actions as actions">
        <div class="display">
            <p>

                <div ng-if="actions.user">
                {{ actions.user.name }}
                {{ actions.user.balance }}
            <a ng-click="actions.clearCurrentUser()">clear</a>
                </div>
            <div ng-if="!actions.user">
                No User Selected!
            </div>

            </p>
        </div>

        <div class="select"  style="text-align: center;">
            <a ng-click="bill.openCardModal()" class="btn btn-success" >Scan ID</a>


        </div>
        <div class="bill" style="text-align: center;">
            <a ng-click="bill.finishBill()" class="btn btn-success">Bill</a>

        </div>
    </div>
</div>

<div class="col-md-9">
    <div class="products-container" ng-controller="productsController as prod">
        <div class="products-header">
            <div class="header-left">
                <ul class="nav nav-tabs" style="float: left;">
                    <li ng-class="{active:bill.orders[bill.currentOrder]==order}" ng-repeat="order in bill.orders | filter:{status:'!completed'}">
                        <a style="cursor: pointer;" ng-click="bill.selectBill(order)"> {{$index + 1}} &nbsp;&nbsp; <button style="padding: 4px 9px;font-size:9px;" class="btn btn-sm btn-danger" ng-click="bill.removeBill($event,order)">-</button> </a>
                    </li>
                    <li><a ng-click="bill.createNewBill()">+</a></li>
                </ul>
                <div class="header-right">
                <div class="products-search">
                    <span class="fa fa-search"></span>

                    <input type="text" placeholder="Search"  ng-model="prod.filterParam.$" class="products-search-control" id="pSearchInput">

                </div>
            </div>
            </div>


        </div>

        <div class="products-wrapper">
            <div class="row">

            </div>
            <div class="row">

                <!-- Products repeat -->


                <div class="col-md-2" ng-repeat="product in prod.products  | filter: prod.filterParam">

                    <div ng-click="prod.addToBill(product)" class="product-item">

                        <img src="{{ product.image }}" alt="" height="100" width="100">
                        <hr>
                        <p>{{ product.name }} {{product.is_stockable ? '-- '+product.stock : ''}} </p>
                        <p>₹{{ product.selling_price }}</p>


                    </div>


                </div>


            </div>
        </div>

    </div>

</div>