{% extends 'admin_theme/dashboard.html' %}
{% block content %}
{% load crispy_forms_tags%}
            <h3 align="center">Create Device</h3>
            <div style="width:400px; margin: auto;">
                <form method="POST" class="post-form">{% csrf_token %}
                    {{ form | crispy  }}
                    {% for error in form.non_field_errors %}
                    <div class="form-group has-errors text-danger small">
                        {{error}}
                    </div>
                    {% endfor %}
                    <button class="btn btn-primary" style="width: 150px; margin:0 auto;">Save</button>
                    </form>
                  </div>
            </div>
    {% endblock %}
