</!DOCTYPE html>
  <html>
<head>
  <style type="text/css">
  html { height: 100% }
  body { height: 100%; margin: 0; padding: 0 }
  #map_canvas { height: 100% }
</style>
  <script type="text/javascript"
src=
"http://maps.googleapis.com/maps/api/js?key=AIzaSyB1tbIAqN0XqcgTR1-FxYoVTVq6Is6lD98&sensor=false">
</script>
<script type="text/javascript">
var locations = ([]);
{% for i in dis%}
locations.push(["{{i.id}}",{{i.lat}},{{i.lng}},"{{i.location}}"])
{% endfor %}
  function initialize() {
    var myOptions = {
      center: new google.maps.LatLng(20.5937, 78.9629),
      zoom: 7,
      mapTypeId: google.maps.MapTypeId.ROADMAP
    };
    var map = new google.maps.Map(document.getElementById("default"),
        myOptions);
    setMarkers(map,locations)
  }
  function setMarkers(map,locations){
      var marker, i
for (i = 0; i < locations.length; i++)
 {
 var id = locations[i][0]
 var lat = locations[i][1]
 var long = locations[i][2]
 var location =  locations[i][3]
 latlngset = new google.maps.LatLng(lat, long);
  var marker = new google.maps.Marker({
          map: map, title: id , position: latlngset
        });
        map.setCenter(marker.getPosition())
        var content = "id:" + id + ' ' + "location: " + location
  var infowindow = new google.maps.InfoWindow()
google.maps.event.addListener(marker,'click', (function(marker,content,infowindow){
        return function() {
           infowindow.setContent(content);
           infowindow.open(map,marker);
        };
    })(marker,content,infowindow));
  }
  }
  </script>
</head>
<body>
  <div id="default" style="width:100%; height:100%;" ></div> 
  <script type="text/javascript">initialize();</script>
  </body>
  </html>