{% extends 'admin_theme/dashboard.html' %}
{% block content %}
    <div class="panel panel-info">
        <div class="panel-heading">
            <h4>Device List</h4>
        </div>
        <div class="panel-body">
            <table border="2" class="table table-responsive">
                <tr>

                    <th>Sno</th>
                    <th>Device id</th>
                    <th>Latitude</th>
                    <th>Longitude</th>
                    <th>Location</th>
                    <th>Actions</th>


                </tr>
                {% for device in devices %}
                    <tr>
                        <td>
                            <center>{{ forloop.counter }}</center>
                        </td>
                        <td>{{ device.id }}</td>
                        <td>{{ device.lat }}</td>
                        <td>{{ device.lng }}</td>
                        <td>{{ device.location }}</td>
                        <td><a href="{% url 'device_load' device.id %}" class="btn btn-primary">Load</a></td>
                    </tr>
                {% empty %}
                    <h3> No Devices!</h3>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}
